@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-700;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* HTML: <div class="star"></div> */
.star {
  width: 50px;
  aspect-ratio: 1;
  background: #ffa500;
  clip-path: polygon(
    50% 0,
    calc(50% * (1 + sin(0.4turn))) calc(50% * (1 - cos(0.4turn))),
    calc(50% * (1 - sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 + sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 - sin(0.4turn))) calc(50% * (1 - cos(0.4turn)))
  );
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
}
