@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#1e1f1f];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* HTML: <div class="star"></div> */
.star {
  width: 50px;
  aspect-ratio: 1;
  background: #ffa500;
  clip-path: polygon(
    50% 0,
    calc(50% * (1 + sin(0.4turn))) calc(50% * (1 - cos(0.4turn))),
    calc(50% * (1 - sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 + sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 - sin(0.4turn))) calc(50% * (1 - cos(0.4turn)))
  );
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
}

.starburst {
  width: 50px; /* adjust to control the size */
  background-color: #ffa500;

  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    87.67% 60.09%,
    93.3% 75%,
    77.58% 77.58%,
    75% 93.3%,
    60.09% 87.67%,
    50% 100%,
    39.91% 87.67%,
    25% 93.3%,
    22.42% 77.58%,
    6.7% 75%,
    12.33% 60.09%,
    0% 50%,
    12.33% 39.91%,
    6.7% 25%,
    22.42% 22.42%,
    25% 6.7%,
    39.91% 12.33%,
    50% 0%,
    60.09% 12.33%,
    75% 6.7%,
    77.58% 22.42%,
    93.3% 25%,
    87.67% 39.91%
  );
}
